.all-cont{
    margin: auto;
    background-color: blue;
    width: 1920px;
}
.first-block{
    background-image: url(fotomaketov/bg_photo_11949.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1920px;
height: 1024px;
background-color: rgba(17,17,17,0.7);
}

.pox{
    text-decoration: none;
}

.logo{
    font-family: Raleway;
font-size: 34px;
line-height: 1.2;
font-weight: 400;
letter-spacing: -0.04em;
color: #ffffff;
}

.headd{
    display: flex;
}

.icon-head{
    display: flex;
    margin: 17px 0 0 376px;
}
.site-logo{
    margin-top: 30px;
}
.navigation{
    display: flex;
    list-style-type: none;
    margin-left: 219px;
    margin-top: 62px;
}
.spisok{
    padding-right: 29px;
}
.ssulka{
    text-decoration: none;
    font-family: Montserrat;
font-size: 14px;
line-height: 1.2;
font-weight: 300;
color: #ffffff;
}
.inf{
    display: flex;
}
.firstbut{
    width: 18px;
height: 24px;
background-image: none; 
background-color: transparent;
padding-right: 28px;
}
.secbut{
    width: 24px;
    height: 24px;
}
.proba{
    margin:55px 0 0 63px;
}
.main-info{
display:flex;
margin-top: 209px;
justify-content: space-around;
}
.arrow{
    width: 40px;
    height: 73px;
    opacity: 0.5;
}
.sosi{
    display: flex;
}
.lolipop{
    width: 40px;
height: 73px;

}
.wasd{
    max-width: 460px;
    margin-right:475px ;
font-family: Montserrat;
font-size: 16px;
line-height: 24px;
font-weight: 300;
color: #ffffff;
}
.head3{
    font-family: Raleway;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}
.head2{
font-family: Raleway;
font-size: 52px;
line-height: 1.2;
font-weight: 800;
color: #ffffff;
}
